html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.icon-md {
    font-size: 1.1rem;
}

.icon-lg {
    font-size: 1.4rem;
}

.icon-green {
    color: #4CAF50;
}

.icon-blue {
    color: #2196F3;
}

.icon-orange {
    color: #FF9800;
}

.icon-muted {
    color: #888888;
}

.toast.fade.show {
    animation: slide-in 0.5s ease-out;
}

@keyframes slide-in {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.employee-title {
    color: #00897B;
    font-weight: 700;
}
